.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #0a0a1a;
  height: 100vh;
}

.title {
  color: #4CC392;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin: 0px auto 48px;
  z-index: 1;
  width: 90%;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

.textInput {
  height: 130px;
  width: 85%;
  padding: 12px;
  background-color: #0F0F1F;
  border-width: 1px;
  border-color: #4CC392;
  border-radius: 8px;
  margin: 0 auto;
  color: #ffffff;
  text-align: left;
}

.button {
  width: 85%;
  height: 50px;
  margin: 16px auto 0px;
  background-color: #8257E6;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-bottom: 16px;
}

.text, .link {
  color: #ffffff;
  margin: 0 auto;
  text-decoration: none;
  font-size: 20px;
}

.disclaimer {
  width: 80%;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  margin-top: 84px;
}
