.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  /* background-color: #0a0a1a; */
  background-color: #000;
  text-align: center;
  height: 100vh;

  @media ( max-height: 650px ) {
    margin: 32px auto;
  }

  .image{
    height: 240px;
    margin-bottom: 0px;
    filter: drop-shadow(0px 0px 100px #05b);
    z-index: 1;
  }

  .title{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 28px;
    text-shadow: 0px 0px 5px rgba(0,0,0,.7);
    font-family: 'Darker Grotesque';
    margin: 0 auto 24px;
    z-index: 1;

    @media ( max-height: 650px ) {
      margin: 0 auto 16px;
    }
  }

  .label{
    color: #fff;
    font-size: clamp(18px, 5.2vw, 22px);
    font-weight: lighter;
    max-width: 90%;
    line-height: 25px;
    font-family: 'Darker Grotesque';
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .link{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    width: 124px;
    font-size: 20px;
    width: 100%;
  }
} 

.input{
  max-width: 90%;
  width: 600px;
  height: 120px;
  margin: 32px auto 0px;
  padding: 16px;
  border: 1px solid #fff;
  background-color: rgba(0,0,0,.8);
  border-radius: 10px;
  position: relative;
  font-size: 20px;
  color: #fff;
  font-weight: lighter;
  resize: none;
  font-family: 'Darker Grotesque';
  z-index: 1;

  @media(max-width: 768px){
    //width: 360px;
  }

  &::placeholder{
    font-size: 20px;
    color: rgba(255,255,255,.3);
    font-weight: lighter;
  }
}

.button {
  width: 85%;
  height: 50px;
  margin: 16px auto 0px;
  background-color: #8257E6;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-bottom: 16px;
}

.warning{
  color: #c00;
  z-index: 1;
}

.button{
  width: 95%;
  height: 50px;
  margin: 16px auto 0px;
  background-color: #8257E6;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-bottom: 16px;
  cursor: pointer;
  z-index: 1;

  @media(max-width: 768px){
    //width: 360px;
  }

  @media ( max-height: 650px ) {
    margin: 12px auto;
    height: 60px;
  }
}

.anchor{
  color: #fff;
  cursor: pointer;
  margin-top: 16px;
  text-decoration: none;
  font-family: 'Darker Grotesque';
  font-size: 18px;
}

.disclaimer{
  color: #fff;
  margin-top: 32px;
  max-width: 400px;
  width: 85%;
  font-size: 14px;
}
