.container {
  flex: 1;
  align-items: center;
  /* background-color: #0a0a1a; */
  background-color: #000;
  justify-content: flex-end;
}

.view {
  width: 80%;
  height: 95%;
  align-items: center;
  border-radius: 8px;
  margin: auto;
}

.title {
  text-align: center;
  width: 100%;
  margin: 4px auto 0px;
  color: #4CC392;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

.text {
  text-align: center;
  color: #fff;
}

.scrollView {
  width: 80%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.touchableOpacity {
  border: 1px solid #4CC392;
  background-color: rgba(255,255,255,.1);
  width: 90%;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 12px;
  border-radius: 8px;
  justify-content: center;
}

